* {
    font-family: Roboto;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
}

/* header top */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 210px;
}

.hero-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;

    list-style-type: none;
    display: flex;
    gap: 30px;
}

/* header bottom */
.header-bottom {
    display: flex;
    padding: 115px 210px;
    justify-content: space-evenly;
    gap: 60px;
}

.header-content, .header-image {
    flex: 1;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-btn {
    background-color: #3882F6;
    font-size: 24px;
    color: #F9FAF8;
    align-self: flex-start;
    padding: 10px 30px;
    border-radius: 15px;
}

.header-image {
    background-color: #6D747D;
    color: #F9FAF8;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

/* infomation section */
.info-section {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 0 210px;
    margin-bottom: 100px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    align-self: center;
    margin: 50px 0;
}

.info-container {
    display: flex;
    padding: 0 90px;
    justify-content: space-between;
} 

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box > div {
    border: #3882F6 solid 5px;
    width: 180px;
    height: 180px;
    border-radius: 25px;
}

.info-text {
    font-size: 18px;
    color:#1F2937;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/* Quote section */
.quote-section {
    background-color: #E5E7EB;
    padding: 150px 350px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-author {
    font-size: 18px;
    color: #1F2937;
    font-weight: 900;
    align-self: flex-end;
}

/* Call to action */
.call-to-action {
    background-color: #F9FAF8;
    padding: 100px 210px;
}

.bluebox {
    background-color: #3882F6;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cta-header {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.cta-main {
    font-size: 18px;
    color: #F9FAF8;
}

.cta-btn {
    border: #F9FAF8 solid 4px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 0 40px;
    height: 40px;
    align-self: center;
}

footer {
    padding: 40px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    justify-content: space-around;
}